<launch>
    <arg name="debug" default="true"/>
    <env if="$(arg debug)" name="ROSCONSOLE_CONFIG_FILE" value="$(find llol)/launch/debug.conf"/>

    <arg name="tbb" default="0"/>
    <arg name="vis" default="true"/>

    <node pkg="llol" type="sv_node_odom" name="llol_odom" output="screen" ns="os_node">
        <remap from="~imu" to="imu"/>
        <remap from="~image" to="image"/>
        <remap from="~camera_info" to="camera_info"/>

        <rosparam command="load" file="$(find llol)/config/llol.yaml" />
        <param name="tbb" type="int" value="$(arg tbb)"/>
        <param name="vis" type="bool" value="$(arg vis)"/>
    </node>
</launch>